@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

thead th {
    font-size: 1.5em;
}

thead, tfoot {
    background-color: #7fb9c2;
}

tbody tr th, .highlight {
    background-color: #628ca6;
    color: white;
}

table {
    box-shadow: 8px 5px 25px #628ca6;
    border-color: 1px solid grey;
    text-align: center;
}

table, th, td {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 7px;
}

tbody tr {
    background: #e7f0ed;
}

tbody tr:nth-child(odd) {
    background: #e7ffed
}

tfoot td {
    font-size: 12px;
}